{% extends "network/layout.html" %}

{% block body %}
    <h1>All Posts</h1>

    {% for post in posts %}
    <div class="post">
        <p><a href="{% url 'profile' post.post.user.username %}"><b>{{ post.post.user.username }}</b></a> - {{ post.post.timestamp }}</p>
        <p id="post-content-{{ post.post.id }}">{{ post.post.content }}</p>
        {% if user.is_authenticated %}
            <button class="like-button" data-post-id="{{ post.post.id }}" onclick="handleLiking(event)">
                {% if post.already_liked == True %}
                    Unlike
                {% else %}
                    Like
                {% endif %}
            </button>
            {% if post.post.user == user %}
                <button class="edit-button" data-post-id="{{ post.post.id }}" onclick="onPostEdit(event)">Edit</button>
            {% endif %}
        {% endif %}
        <p id="like-count-{{ post.post.id }}">Likes: {{ post.post.likes }}</p>
        </div>
    {% endfor %}

{% endblock %}