{% extends "network/layout.html" %}

{% block body %}
    <h1>Profile: {{ profile_user.username }}</h1>

    <p id="followers">Followers: {{ follower_count }}</p>
    <p id="following">Following: {{ following_count }}</p>  
    
    {% if show_follow_button %}
        {% if following %}
            <button name="unfollow" onclick="handleFollowing(event)">Unfollow</button>
        {% else %}
            <button name="follow" onclick="handleFollowing(event)">Follow</button>
        {% endif %}
    {% endif %}

    <h2>Posts</h2>
    <ul>
    {% for post in posts %}
        <li>
        <p><b>{{ post.timestamp }}</b></p>
        <p>{{ post.content }}</p>
        </li>
    {% endfor %}
    </ul>

{% endblock %}