{% extends "network/layout.html" %}

{% block body %}
    <h1>Profile: {{ profile_user.username }}</h1>

    <p id="followers">Followers: {{ follower_count }}</p>
    <p id="following">Following: {{ following_count }}</p>  
    
    {% if show_follow_button %}
        {% if following %}
            <button name="unfollow" onclick="handleFollowing(event)">Unfollow</button>
        {% else %}
            <button name="follow" onclick="handleFollowing(event)">Follow</button>
        {% endif %}
    {% endif %}

    <h2>Posts</h2>
    {% if paginator.num_pages > 1 %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
        {% if posts.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="page-item not-allowed"><a class="page-link text-muted">&laquo;</a></li>
        {% endif %}
        
        {% for page_num in paginator.page_range %}
            <li class="page-item {% if page_num == posts.number %}active{% endif %}">
            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
            </li>
        {% endfor %}
        
        {% if posts.has_next %}
            <li class="page-item not-allowed"><a class="page-link" href="?page={{ posts.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class=""><a class="page-link text-muted">&raquo;</a></li>
        {% endif %}
        </ul>
    </nav>
    {% endif %}
    <ul>
    {% for post in posts %}
        <li>
        <p><b>{{ post.post.timestamp }}</b></p>
        <p id="post-content-{{ post.post.id }}">{{ post.post.content }}</p>
        {% if user.is_authenticated %}
            <button class="like-button" data-post-id="{{ post.post.id }}" onclick="handleLiking(event)">
                {% if post.already_liked == True %}
                    Unlike
                {% else %}
                    Like
                {% endif %}
            </button>
            {% if profile_user == user %}
                <button class="edit-button" data-post-id="{{ post.post.id }}" onclick="onPostEdit(event)">Edit</button>
            {% endif %}
        {% endif %}
    <p id="like-count-{{ post.post.id }}">Likes: {{ post.post.likes }}</p>
        </li>
    {% endfor %}
    </ul>

{% endblock %}